@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~normalize.css";
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
  color: $gray;
  height: 100%;
  max-width: 100%;
  font-size: 0.8rem;
}

@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";
@import "loader";
