@import 'variables';
@import 'mixins';

.excel {
  &__table{
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: auto;
    padding-bottom: 2px;
  }
}

.table {
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background-color: $light;
    border-top: none;
    position: relative;
  }
  &__data {
    display: flex;
  }
  &__row {
    display: flex;
    min-height: 20px;
    height: $row-height;
  }
  &__column {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    height: 100%;
    border-top: none;
    border-left: none;
    position: relative;
  }
  &__cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid $border-color-cell;
    border-top: none;
    border-left: none;
    white-space: nowrap;
    color: $black;
    outline: none;
    &.selected {
      border: none;
      outline: 2px solid $blue-dark;
      z-index: 2;
    }
  }
}

.column {
  &__resize {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    width: 4px;
    background-color: $blue-dark;
    opacity: 0;
    &:hover {
      opacity: 1!important;
      cursor: col-resize;
    }
  }
}

.row {
  &__resize {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: $blue-dark;
    opacity: 0;
    &:hover {
      opacity: 1!important;
      cursor: row-resize;
    }
  }
}

